/2013/JavaFX/StarWars/.idea
/2013/JavaFX/StarWars/target

/2013/JavaFX/Terminal/.idea

/2013/JavaFX/Terminal/admin/target

/2013/JavaFX/Terminal/client/target
/2013/JavaFX/Terminal/shared/target

/2013/JavaFX/Terminal/server/target

/2013/JavaFX/StarWars/*.iml

/2013/JavaFX/Terminal/*.iml

/2013/JavaFX/Terminal/admin/*.iml

/2013/JavaFX/Terminal/server/*.iml
/2015/Curiosity/.idea
/2015/Curiosity/*.iml
/2015/Curiosity/client/*.iml
/2015/Curiosity/client/target
/2015/Curiosity/raspy/target
/2015/Curiosity/server/target
/2015/Curiosity/shared/target
/2015/Curiosity/server/*.iml
/2015/Curiosity/raspy/*.iml
/2015/Curiosity/shared/*.iml
